Repository CoderDayton/KernelWatch: changes, and which lefthook commands are due for each by the changed paths.
All: backend-lint, backend-format, backend-types, frontend-typecheck, rust-fmt, rust-clippy

lefthook.yml:

# Lefthook configuration
# Refer to https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    backend-lint:
      glob: "**/*.py"
      run: uv run ruff check {staged_files}
    backend-format:
      glob: "**/*.py"
      run: uv run ruff format --check {staged_files}
    backend-types:
      glob: "**/*.py"
      run: uv run mypy src/ tests/
    frontend-typecheck:
      root: "ui/"
      glob: "**/*.{ts,tsx}"
      run: npm run build # runs tsc -b && vite build
    rust-fmt:
      root: "ui/src-tauri/"
      glob: "**/*.rs"
      run: cargo fmt -- --check
    rust-clippy:
      root: "ui/src-tauri/"
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings

pre-push:
  parallel: false
  commands:
    backend-test:
      run: uv run pytest tests/

Fix all pre-commit failures (Strict Mode)
  AGENTS.md
  src/driver_search/db.py
  src/driver_search/monitor.py
  src/driver_search/output/yara.py
  tests/test_analysis.py
  tests/test_db.py
  tests/test_integration.py
  tests/test_output.py
  tests/test_sources.py
  tests/test_utils.py
Due: backend-lint, backend-format, backend-types

Fix Tauri v2 shell permission configuration
  ui/src-tauri/capabilities/default.json
  ui/src-tauri/tauri.conf.json
Due: none

Complete rebranding to KernelWatch
  lefthook.yml
Due: none

docs: link contributing and license files in readme
  CONTRIBUTING.md
  README.md
Due: none

Change security vulnerability reporting contact
  SECURITY.md
Due: none

Update copyright holder in LICENSE file
  LICENSE
Due: none

fix(windows): resolve startup crash and align tauri v2 permissions
  src/kernel_watch/cli.py
  src/kernel_watch/config.py
Due: backend-lint, backend-format, backend-types

fix: include all generated icon variants in tauri bundle
  ui/src-tauri/tauri.conf.json
Due: none

fix: use XDG-compliant paths and improve error handling for startup failures
  src/kernel_watch/cli.py
  src/kernel_watch/config.py
Due: backend-lint, backend-format, backend-types

chore: add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
Due: none

fix: remove invalid shell plugin config from tauri.conf.json
  ui/src-tauri/tauri.conf.json
Due: none

feat(ui): polish frontend with professional typography, icons, and layouts
  ui/src/App.tsx
  ui/src/components/icons.tsx
  ui/src/components/primitives.tsx
  ui/src/index.css
  ui/src/lib/styles.ts
  ui/src/views/Analyze.tsx
  ui/src/views/Dashboard.tsx
  ui/src/views/Monitor.tsx
  ui/src/views/Search.tsx
  ui/src/views/Settings.tsx
Due: frontend-typecheck
